.navbar {
  background-color: #670003 !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  min-height: 64px !important;
  max-height: 64px !important;
}

.navbar-brand {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  letter-spacing: 1px !important;
  color: white !important;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active,
.navbar-brand:visited {
  color: white !important;
}

/* UPDATED: Use .header-link instead of .nav-link */
.header-link i {
  display: inline-block !important;
  transition: color 0.2s, transform 0.3s ease !important;
  color: white !important;
}

.header-link:hover i {
  color: #bbbbbb !important;
  transform: scale(1.2) !important;
}
