.navbar {
  background-color: #670003;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 64px;
  max-height: 64px;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active,
.navbar-brand:visited {
  color: white;
}

.navbar .nav-link i {
  display: inline-block;
  transition: color 0.2s;
  transition: transform 0.3s ease, color 0.3s ease;
  color: white;
}

.navbar .nav-link:hover i {
  color: #bbbbbb;
  transform: scale(1.2);
}



