* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #C8102E;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    color: white;
}

.logout-btn {
    background-color: #C8102E;
    display: flex;
    border: none;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50px;
    height: 50px;
    align-items: center;
}

.logout-btn:hover {
    background-color: #c0392b;
}

.logout-icon {
    width: 60%;
    height: auto;
    object-fit: contain;
}