.sidebar {
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  padding: 0;
}

.sidebar-img{
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.linkstyle {
  background-color: #fffcfc;       
  color: black;           
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 12px 16px; 
  margin-bottom: 1px;
  display: block;
  text-decoration: none;     
  transition: background-color 0.3s, 0.3s ease;
}

.linkstyle.active {
  background-color: #900404;       
  color: white;           
}

.linkstyle:hover{
  background-color: gray;
  color: white;
}

