body {
  background-color: #f5f5f5;
}

#template-list {
  align-items: flex-start;
}

.template-card.opacity-0 {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.template-card {
  width: 214px; /*was 150*/
  height: 260px; /*was 200*/
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.template-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.template-card span.display-1 {
  font-size: 4rem;
}

.status-badge {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.template-footer {
  background-color: #680404;
  padding: 0.5rem;
  font-size: 0.9rem;
}

